*{
    background-color: darkgray;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}
article{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-rows: 3fr 1fr 6fr 3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 30%; 
    border: 2px solid white;
    float: left;
    margin: 3px;
}
header {
    border: 2px solid black;
    grid-area: 1/1/2/6;
    background-color: rgb(120, 64, 158);
    margin: 5px;
}
.aside1{
    border: 2px solid black;
    grid-area: 2/2/3/3;
    background-color: rgb(105, 152, 252);
    margin: 5px;
}

.aside2 {
    border: 2px solid black;
    grid-area: 3/2/4/3;
    background-color: rgb(143, 24, 24);
    margin: 5px;
}
section{
    border: 2px solid black;
    grid-area: 2/1/4/2;
    background-color: rgb(23, 167, 10);
    margin: 5px;
}
footer{
    border: 2px solid black;
    grid-area: 6/1/4/3;
    background-color: rgb(23, 167, 10);
    margin: 5px;
}

.layout{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr 9.11fr 5.55fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    float: left;
    margin: 3px;
}
.layout section {
    grid-area: 1 / 1 / 3 / 2;
    background-color: darkgreen;
}
.layout .aside2{
    grid-area: 1 / 2 / 1 / 4;
    background-color: rgb(105, 152, 252);
    padding: 15%;
}
.layout .aside1{
    grid-area: 2 / 2 / 3 / 4;
    background-color: rgb(143, 24, 24);
}
.layout footer{
    grid-area: 3 / 1 / 4 / 4;
    background-color: rgb(120, 64, 158);
}

.clear{
    clear: both;
}

.layout2{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(2, 1fr) 2.83fr 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.layout2 header{
    grid-area: 1 / 1 / 1 / 3;
    background-color: darkgreen;
    height: 40px;
}
.layout2 .aside2{
    grid-area: 2 / 1 / 3 / 2;
    background-color: rgb(105, 152, 252);
    height: 37px;
}
.layout2 .aside1{
    grid-area: 2 / 2 / 3 / 2;
    background-color: rgb(143, 24, 24);
    height: 37px;
}
.layout2 section{
    grid-area: 3 / 1 / 4 / 3;
    background-color: rgb(120, 64, 158);
}
.layout2 footer{
    grid-area: 4 / 1 / 5 / 3;
    background-color: rgb(105, 152, 252);
}

